Python with mysql DataBase

In [1]:
import  mysql.connector #importing the package to connect with mysql server

Connecting python with Database

In [6]:
for i in num:
        print(type(i))

<class 'str'>
<class 'str'>

get value in string format

In [2]:
try:
    con=mysql.connector.connect(host="localhost",user="root",passwd="reddy77") #we can create connection to the database 
    print("mysql database is connected successfully")
except mysql.connector.DatabaseError as db:                #if anything wrong init we can raise exception as well
    print("something went wrong in db",db)

mysql database is connected successfully

Drop Database in sql server

In [3]:
try:
    con=mysql.connector.connect(host="localhost",user="root",passwd="reddy77")
    print("connected sucessfully")
    cur=con.cursor()                                      #creating the cursor
    cur.execute("drop database shiash")                 #drop the database in mysql server
    print("Database  drop successfully in mysql")
except mysql.connnector.DatabaseError as db:
    print("something went wrong in the connection",db)

connected sucessfully
Database  drop successfully in mysql

Create Database in sql server

In [4]:
try:
    con=mysql.connector.connect(host="localhost",user="root",passwd="reddy77")
    print("connected successfully ")
    cur=con.cursor()
    cur.execute("create database shiash")  
    print("Database created successufully")
except mysql.connector.DatabaseError as db:
    print("something went wrong in the connection:",db)

connected successfully
Database created successufully

Creating table in database

In [5]:
try:
    con=mysql.connector.connect(host="localhost",user="root",passwd="reddy77",database="shiash")
    print("connected successfully")
    cur=con.cursor()
    cur.execute("create table employee(sno int primary key,sname varchar(10) not null,salary float not null)") #creating table in database
    print("table created successfully")
except mysql.connector.DatabaseError as db:
    print("something went wrong in database",db)

connected successfully
table created successfully

Enter values in to the table after enter the values we have use commit function as well if not values will not save in the table

In [6]:
try:
    con=mysql.connector.connect(host="localhost",user="root",passwd="reddy77",database="shiash")
    print("connected successfully")
    cur=con.cursor()
    cur.execute("insert into employee values(1,'reddy',5.7)")
    print("values entered sucessfully in to database")
    con.commit() #commit the database
except mysql.connector.DatabaseError as db:
    print("something went wrong in db",db)

connected successfully
values entered sucessfully in to database

Enter values in to database

In [7]:

while(True):  
    try:
        con=mysql.connector.connect(host="localhost",user="root",passwd="reddy77",database="shiash")
        cur=con.cursor()
        sno=int(input("Enter employee number:"))
        sname=input("Enter employee name:")
        salary=float(input("Enter employee salary:"))
        cur.execute("insert into employee values(%d,'%s',%f)"%(sno,sname,salary))
        print("values entered into table sucessfully")
        con.commit()
        ch=input("Do you want to enter one more record (yes/no):")
        if (ch.lower()=="no"):
            print("Thanks for using")
            break
    except mysql.connector.DatabaseError as db:
        print("something went wrong in db:",db)

Enter employee number:78
Enter employee name:hel
Enter employee salary:78.0
values entered into table sucessfully
Do you want to enter one more record (yes/no):no
Thanks for using

Delete record from table

In [8]:
while(True):    
    try:
        con=mysql.connector.connect(host="localhost",user="root",passwd="reddy77",database="shiash")
        print("connected successfully")
        cur=con.cursor()
        ID=int(input("Enter id employee id:"))
        cur.execute("delete from employee where sno=%d"%(ID))
        con.commit()
        if (cur.rowcount>0):
            print("{} Record delete successfully:".format(cur.rowcount))
        else:
            print("Record is doesnot exists")
        ch=input("Do you want to delete one more (yes/no):")
        if ch.lower()=="no":
            print("Thanks for visting")
            break
    except mysql.connector.DatabaseError as db:
        print("something went wrong in db:",db)
    except ValueError:
        print("Dont str and alnums/symbols in it")

connected successfully
Enter id employee id:8
Record is doesnot exists
Do you want to delete one more (yes/no):3
connected successfully
Enter id employee id:3
Record is doesnot exists
Do you want to delete one more (yes/no):no
Thanks for visting

update value in table

In [9]:
while(True):
    try:
        con=mysql.connector.connect(host="localhost",user="root",passwd="reddy77",database="shiash")
        cur=con.cursor()
        sal=float(input("Enter salary of the employee"))
        sno=int(input("Enter employee id:"))
        cur.execute("update employee set salary=%f where sno=%d"%(sal,sno))
        con.commit()
        if (cur.rowcount>0):
            print("{} record updated successfully".format(cur.rowcount))
        else:
            print("Record does not exists")
        ch=input("Do you want to updated one more record(yes/no):")
        if (ch.lower()=="no"):
            print("thanks for using ")
            break
    except ValueError:
        print("Do not enter str/alnum/symbols")
    except mysql.connectorDatabaseError as db:
        print("something went wrong in db:",db)

Enter salary of the employee34.5
Enter employee id:78
1 record updated successfully
Do you want to updated one more record(yes/no):no
thanks for using

Display single record (first record)

In [14]:
try:
    con=mysql.connector.connect(host="localhost",user="root",passwd="reddy77",database="shiash")
    print("connected successfully")
    cur=con.cursor()
    tname=input("Enter table name:")
    cur.execute("select * from %s"%tname)
    record=cur.fetchone()
    print(record)
except mysqlconnectorDatabaseError as db:
    print("something went wrong in db:",db)

connected successfully
Enter table name:employee
(1, 'reddy', 5.7)

Display multiple records

In [15]:
try:
    con=mysql.connector.connect(host="localhost",user="root",passwd="reddy77",database="shiash")
    print("connected successfully")
    cur=con.cursor()
    tname=input("Enter table name:")
    cur.execute("select * from %s"%tname)
    no=int(input("Enter no of records to display:"))
    record=cur.fetchmany(no)
    print(record)
except mysqlconnectorDatabaseError as db:
    print("something went wrong in db:",db)

connected successfully
Enter table name:employee
Enter no of records to display:4
[(1, 'reddy', 5.7), (78, 'hel', 34.5)]

Display the table

In [18]:
try:
    con=mysql.connector.connect(host="localhost",user="root",passwd="reddy77",database="shiash")
    print("connected sucessfully")
    cur=con.cursor()
    tname=input("Enter table name:")
    cur.execute("select *from %s"%tname)
    colinfo=cur.description
    for col in colinfo:
        print(col[0],end="\t")
    print()
    print("="*50)
    records=cur.fetchall()
    for record in records:
        for val in record:
            print(val,end="\t")
        print()
    print("="*50)
except mysqlconnectorDatabaseError as db:
    print("something went wrong in db:",db)

connected sucessfully
Enter table name:employee
sno	sname	salary
==================================================
1	reddy	5.7
78	hel	34.5
==================================================