In [ ]:
#the email is say chAN9@gmail.com
#it should have one @
#it should have one .
#it should have one _
#
#step1:get the email address
#iterate through all characters
#1 st iter,when i=c, if cond  fails,2nd if cond true so var2=1
#when var2>1 email is valid.this is one of the condn in main condn
#2 nd iter,i=h,var=2,
#so var2 can have values between 1 to say 10.var 2 will have
#value greater  than 1.
#so var 3 which validates for upper case letters it will also have value
#between say 1 to 10.var1 will also have value betwwen 1 to say 10.
#main if condn
#if var1>1 and var2>1 and var3>1:
#print("email is valid")
#else:
#print("invalid")

In [ ]:
a=float(input("enter the number to find the ceil of a number"))
a+=1
print(int(a))

b=(input("enter the nuber to find the floor of a number"))
print(int(float(b)))

In [1]:
var1=0
var2=0
var3=0
var4=0
var5=0
a=input("enter the email")
for i in a:   
    if i>='a' and i<='z':
        var1+=1
#         print(var1)
    elif i>='0' and i<='9':   
        var2+=1
#         print(var2)
    elif i>='A' and i<='Z':
        var3+=1
#         print(var3)
    elif i=='@':
        var4+=1
    elif i=='.' or i=='_':
        var5+=1
if var1>=0 and var2>=0 and var3>=0 and var4==1 and var5>=1:
    print("email is valid")
else:
    print("invalid")

enter the emailcha
invalid

In [ ]:
#Python program to calculate the electricity bill based on units consumed
#in a house.An additional sur charge of 20% is added to the amount.
#Condition 1:For units<50,cost is Rs 0.5
#conditon 2:For next 100 units,cost of electricity is  Rs 0.75 per unit
#condition 3:For next 100 units,cost of electricity is  Rs 1.2 per unit
#Condition 4:for next 'n' units,cost of electricity is Rs 1.5 per units.

In [1]:
units=int(input("enter the units"))
if units<=50:
    amt=units*0.5
elif units>50 and units<=150:
    amt=50*0.5+(units-50)*0.75
elif units>150 and units<=250:
    amt=50*0.5+100*0.75+(units-150)*1.2
elif units>250:
    amt=50*0.5+100*0.75+100*1.2+(units-250)*1.5
print("Total Bill",amt+0.2*amt)

enter the units555
Total Bill 813.0

In [ ]:
 #while keyword is used to check a cond.
#'As long as' while condn is true,while loop stmts executed.
#while condn fails,while loop stmts are not executed.

while condition:
    # body of while loop

In [4]:

# 1)program to display numbers from 1 to 5

i = 1
n = 5
while i <=n:
    i = i +3
    print(i)   
    
# # else:
# #     print("while loop finished")
# #1 st,i1,n=5,1<=5,print(1),i=2
# #2 nd iter,2<=5,print(2),i=3
# # 3 rd iter, 3<=5,print(3),i=4,
# #  4th iter,

# #it will print 1 for infinite times.while loop becomes endless loop.
#if you do not increment i,while condn checked multiple times and 1 gets printed all the times
#condn is checked.

4
7

In [7]:
5%5
#c=1

0

In [14]:
#3)Prime number or not
num=int(input("enter the number"))#5
c=0
for i in range(1,num+1):#i=1,2,3,4,5
    if num%i==0:
        c+=1
if c==2:
        print("prime")
else:
    print("composite")

enter the number78
composite

In [ ]:
return '2fact(1)''

In [3]:
def fact(n):
    if n==0:
        return 1
    else:
        return n*fact(n-1)
    
l1=[2,3,4]
lst=[]
for num in l1:
    lst.append(fact(num))
print(lst)

[2, 6, 24]

294.0

[2, 6, 24, 120]

In [ ]:
fact(3)
return 3*fact(2)

return 1fact(0)

In [ ]:
lst.append(6)

In [ ]:
2,6

In [ ]:
lst=[2]

In [ ]:
#create a list of integers
l1=[3,4,5]
#create an empty list.to append fact values of all the number in to lst.
  
#i want 3*2*1=6
#i want 4*3*2*1=24
#i want 5*4*3*2*1=120
#for this to happen,i need to iterate through all numbers in the list one by one.
#1st iter,num=3.i want 3*2*1=6

In [ ]:
#1st iteration,lq is activated,empty list lst is created.for loop runs.1st iteration,num takes all the numberrs
#in the list one by one.num=3ctrl moves to function call.
#function call to function definition.def fact(n):
#def fact(n):n is 3,if 3==0 condn fails ctrl goes to else block return value
#value is 3*fact(2).ctrl goes from function call to function definition.
#
#for num in l1:
#    3*fact(2)
#ctrl moves from function call to function definition
#def fact(2):
#if 2==0:if codnn fails ctrl to else bock return 2*fact(1)
##for num in l1:
#    6*fact(1)
#ctrl moves from function call to function definition
#def fact(1):
#else block stmts are executed
#return 1*fact(0)
#6*fact(0)
#ctrl moves from functin call to function definition
#def fact(0):
#return 1 return values comes in place of function call
#6
#the ctrl does not mpove  from udf to function definition as the value in var1 is 6.
#udf is not activate now.then that 6 is appeneded into lst.
#lst.append(var1) is the last stmt of1st iteration of for loop.for loop complete.during next iteration,num takes 4.
#during the next iteration of the outer for loop,num takes 4.
#var1=fact(4)

In [4]:
# #Working:
# #create a list of integers
# l1=[3,4,5]
# #empty list-to append fact values of all the number in to lst.
# for num in l1:
#     fact(num)
# #till here i write using logic.#i define a function named fact(num).it will do mathematical calculations.
# #mathe calc are say  4*3*2*1
# def fact(n):
#     if n==0:
#         return 1
# #when u create a function u must define the function too.
# #first condition is logically written.w.k.t factorial of 0 is 1 rule.
# #When our list has 0 its factorial must be 1.
# #i have represented it in if condn.if n==0:return 1
# #

In [ ]:
i=1,2,3,4
num=4
f=1*1=1
f=1*2=2
f=2*3=6
f=6*4=24

In [54]:

fact=fact*i

In [11]:
l1=[3,4,5,6]
lst=[]
#i is number in the list
for num in l1:
    factorial=1
    for i in range(1,num+1):
        factorial=factorial*i
    lst.append(factorial)
print("factorial list :",lst)

factorial list : [6, 24, 120, 720]

In [ ]:
# a list l1 iscreated
#lst is an empty list which is created.
#l1 is a list
#lst named empty list is created.
#l1 is a list
#lst named empty list is created.
#l1 is a lsit created 
#lst named empty list is created where each numbers factorial numbers are appenedinto the list.
#lst named empty list is created where each numbers factorial numbers are appeneded into the list.

In [ ]:
f is a variable which is calculated by f=f*i

In [ ]:
f=f*i
f=1*1=1
f=1*2=2
f=2*3=6
f=6*4=24
f=24*5=120

In [42]:
l1=[3,4,5]
lst=[]
for num in l1:
    fact=1
    for i in range(1,num+1):
        fact=fact*i
    lst.append(fact)
print(lst)

[6, 24, 120]

In [ ]:
num=3
i=1,2,3

In [ ]:
f=f*i
f=f*i
f=1*1=1
f=1*2=2
f=2*3=6

In [ ]:
num=4
i=1,2,3,4

In [36]:
1*2*3*4

24

In [37]:
1*2*3

6

In [38]:
1*2

2

In [39]:
1*2*3*4

24

In [40]:
1*2*3

6

In [ ]:
#note:
When num=4,i=1,2,3,4
when num=5,i=1,2,3,4,5
write for loops s that above things are satisfied.

In [ ]:
1st iter,num=3
fact=1
#i set fact var as 1
#i=1,2,3
#ist iter,i=1
fact=1*1=1
2nd iter,i=2
fact=1*2=2
3rd iter,i=3
fact=2*3=6
lst=[6]
outer loop 2nd iteration,
num=4
4*3*2*1 must be done in for loop stmts
when num=4  4*3*2*1 must be done in for loop stmts
i=1,2,3,4
num=5,i=1,2,3,4,5
when num=5,i=1,2,3,4,5
when num=4,i=1,2,3,4

In [ ]:
4*3*2*1
1*2*3*4

In [9]:
#find the factoria of all the number sin thelist one by one
# 3*2*1
# 4*3*2*1
# 5*4*3*2*1
# 6*5*4*3*2*1

In [9]:
#num=5
#c=0
#
# 5%5
#c=1

In [ ]:
7m   52d
1m

In [6]:
5%5

0

In [7]:
#5%1,c=1,when num is 5
5%5

0

In [8]:

#2)Lets play a game to guess a number  using while loop.
#num1,num2
num1=int(input("correct number"))
num2=int(input("guess number"))
while num1!=num2:
    print("wrong number,try again")
    num2=int(input("guess number again"))
print("correct guess")

correct number6
guess number8
wrong number,try again
guess number again7
wrong number,try again
guess number again6
correct guess

In [4]:
# 3)python program to print the sum of squares of numbers till 5.
#1,2,3,4,5

In [5]:
i=1
n=5
s1=0
summ=0
while i<=n:
    s1=i**2
    summ+=s1
    i=i+2
print(summ)
#while 1<5:

#1 st iter,1<=5,s1=1,summ=1,i=2,
# 2nd iter,2<=5,s1=4,summ=5,i=3,
# 3 rd iter,3<=5,s1=9,summ=14,i=4
# 4th iter,14+16=summ=30,i=5

# 5th iter,s1=25,30+25,summ=55,i=6,

35

In [ ]:
# C=[]
# for i in range (7, 50, 7):
#     If i %2 == 1:
#            c.append()
# Sum = 0
# for i in c:
#     return sum + i

# Print (sum)

In [ ]:
#4)python program to print the sum of odd multiples of 7 till 50.

In [ ]:
#7,14,21,28,35,42,49
#5,10,15,20,25,30,35,40,45,50

In [20]:
35+28+49
#s=28
#

112

In [ ]:
While True allows a group of codes to be repeated infinite number of times until a break is executed

In [3]:
7+21+35+49

112

In [12]:
21%2

1

In [14]:
28+35+49

112

In [ ]:
#Sumation of odd multiples of 7 till 50.

In [23]:
i=1
#s2=0
try:    
    while i<=50:        
        if i%7==0:
            if i%2!=0:
                s2+=i
        i+=1        
    print(s2)
except Exception as e:
    print(e)   
    
#s3=7+21+35+49

name 's2' is not defined

In [ ]:
while 2<=50:true

In [26]:
2%7

2

In [25]:

if 2==0:

1

In [ ]:
#The program will continue to run from i =1 till 6.When i=7,while true,if true
#if true and s3 is logical error and ctrl goes to except block and error is displayed
#s3 variable is not defined(when u do not define outside whileloop)

In [17]:
2%7

2

In [5]:
2%7

2

In [19]:
l1=[1,2]
try:    
    if '1' in l1:#if '1' in l1
        print("yes")
    print("hey")
except Exception as e:
    print(e)

hey

In [7]:
i=7
s=0
while i<=50:
    if i%2!=0:
        s+=i
    i+=7
print(s)

112

In [ ]:
#1st iter,i=1,while 1=<50,true,stmts are executed
#2ns iter,i=2,while cond 2<=50 true,
#i=7,s=7\
#i=21,s=28
#i=35,s=63
#i=49,s=63+49

In [22]:
35%2

1

In [24]:
63+49

112

In [8]:
7+21+35+49

112

In [ ]:










#the amt typed by me must be divisible by 100.
#200,300,400,500,600
#the amt typed by me must be multiple of 100.100,200,300,400,500
#x%100==0
#200,400,600,800,1000 are multiples of 200
#x%200==0
#500,1000,1500,2000 are multiples of 500
#x%500==0

In [1]:
#4)python program to display working of atm machine using if else:

In [33]:
print("wc to hindustan bank atm")
print("insert your atm card")
num1=int(input("enter your pin number"))
pin=1234
savings=30000

if num1==pin:
    print("type 1 for cash withdrawal and balance info")
    num2=int(input("type of transaction"))
    print(num2)
    if num2==1:
        print("cash withdrawal and balance info")
        num3=int(input("enter the amount "))
        if num3<savings and num3%500==0 and num3%200==0:
            num4=savings-num3
            print(" take your cash.Visit us again ")
            print("balance amount is :",num4)
            
        else:
            print("invalid cash")
            
            
        
    else:
        print("invalid type")
else:
    print("invalid pin")

wc to hindustan bank atm
insert your atm card
enter your pin number1234
type 1 for cash withdrawal and balance info
type of transaction1
1
cash withdrawal and balance info
enter the amount 1000
 take your cash.Visit us again
balance amount is : 29000

In [ ]:
#python program to check if both strings are in lower case or not

In [16]:
mystr="RAM"
mystr2="ram"
if mystr.lower()==mystr2.lower():
    
    print("both strings are in lower case")
else:
    print("hello")
#

both strings are in lower case

In [4]:
mystr.upper()

'RAM'

In [ ]:
#Break statement in python

 We can use the break statement with the for loop to terminate the loop
 when a certain condition(say if) is met.
 break stmt breaks out of the for/while loop.

In [1]:
for i in range(7):
    if i == 6:
        break
    print(i)
    #if cond true then breaks out of the entire looop.not necesssary.
#Break breaks out of entire loop.

0
1
2
3
4
5

In [2]:
for i in range(100):
    if i == 3:
        print(i)
    if i==4:
        break
    print(i)

0
1
2
3
3

In [ ]:
#diff btw multiple ifs one by one and elif.(imp)

In [3]:
# program to find first 5 multiples of 7

i = 1
while (i<=8):
    print(7 * i)
    if i >= 6:
        break
#         print("hi")    
    i = i + 3  
    
   
#7,14,21,28,35
#when i do not increment the iterator in while loop,every time condn is checked and i value will be 1.infinite loop

7
28
49

In [ ]:
# program to first 5 multiples of 7 and 5 
#(using break stmt in while loop)

In [ ]:
#Continue stmt-continues to the next iteration in the for/while loop.

In [ ]:

#continue stmt skips the current iteration of the while loop.

In [6]:
syntax:
    
for loop:
    continue

In [ ]:
syntax:
    
while loop:
    if condn:
        continue

In [ ]:
while loop:
    continue
    
for loop:
    continue

In [ ]:
#both continue and break stmts are used in if condns..they can be used without if conditions too.

In [5]:
for i in range(5):
    if i == 3:
        print("hi")
    else:
        continue
    print(i)
#continue and break stmts do not care of the stmts after them.continue will go the for loop.

hi
3

In [5]:
# program to print odd numbers from 1 to 10

num = 0
while num < 10:
    num += 1    
    if (num % 2) == 0:
        continue
#         print("hi")
    print(num)
#continues to the next iteration.further stmts in loop not executed.
#when if cond is true,"hello" is printed.

1
3
5
7
9

In [6]:
num = 0

while num < 10:
    num += 10    
    if (num % 2) == 0:
#         print("hello")
        break
print(num)

10

In [11]:
#9
#print("hi"),input(),int(),for,float,while,if,---pre defined functions/in built funstion

hi

In [ ]:
#user defined functions-

In [ ]:
#Udf means i can create my own function.i define my function.
#def func_name()#def keyword used in front of udf.
#return value or none will go to function call.

Python User-defined functions
All the functions that are written by any of us come under the category of user-defined functions. Below are the steps for writing user-defined functions in Python.

In Python, a def keyword is used to declare user-defined functions. 
An indented block of statements follows the function name and arguments
which contains the body of the function.

In [ ]:

Syntax
def udf( parameters ):
    stmts
    return value


    


a=udf(x)
print(a)

In [17]:
3**3

27

In [8]:

def mult(x,y):
    a = x ** y
    print(a+2)
    return a*100==100*2

num1 = 3
num2 = 4

print("The multiplication is", mult(num1, num2))
#mathematical operation takes place
#no return value
#print(),input()-in built functions

83
The multiplication is False

In [12]:

def mult(x,y):
    a = x * y
    print(a)
#     return a
#     return None

num1 = 3
num2 = 4

print("The multiplication is",mult(num1,num2))

12
The multiplication is None

In [ ]:
def function(*a):

In [ ]:
#1)Python program to print first 5 multiples of 7 and 5

In [4]:

i=1
for i in range(1,6):
    print((str(7*i)+" "+str(5*i)))

7 5
14 10
21 15
28 20
35 25

In [13]:
# for i in range(1,6):
#     print(str(7*i)+"   "+str(5*i))#try len,type functions

Indexing in string/list - access a character/element in a string/list using index number
Slicing in string/list/tuple-access a group of characters/elements in a string/list/tuple

In [2]:

mystr="ra hul"
mystr[2]
len(mystr)

6

In [18]:
# mystr1="rahul"
# mystr1[2]

In [ ]:
#positive indexing-access a character from start of a string
#negative indexing-access a character from last of a string

In [14]:
mystr[2]

' '

In [20]:
mystr

'ra hul'

In [26]:
mystr[3:5:2]

'h'

In [22]:
# len(mystr[1:3])

2

In [ ]:
positive indexing -from start

In [ ]:
Negative indexing - indexing from the end of the string

In [27]:
mystr
#in case of positive and negative slicing,slicing must
#be performed from left to right.

'ra hul'

In [36]:
(mystr[-8:-5:3])

'r'

In [3]:
(mystr[-6:-3:2])




#slices 4 th element from last to 2 nd element from last-1

'r '

In [ ]:
#takes the first element by default for all greater than 6th element

In [36]:
mystr

'ra hul'

In [35]:
mystr[0:6:4]#r starting Ending with u

'ru'

In [27]:
len(mystr[0:6:2])

3

In [39]:
mylist=["sky","rain","sun","thunder"]
mylist[3]

'thunder'

In [33]:
mylist[2:3]

['sun']

In [31]:
mylist[-4:-1]

['sky', 'rain', 'sun']

In [41]:
mylist[-4:-2:+2]
#

['sky']

Python dictionary stores data in key/value pairs.
Here,keys are unique identifiers that are associated with each value.

In [ ]:
If we want to store information about countries and their capitals,
we can create a dictionary with country names as keys and capitals as values.

In [ ]:
#[],(),{key:value}

In [10]:
dict_a = {"Delhi": "India", "Colombo": "Sri Lanka", "London": "England"}
print(dict_a)
type(dict_a)

{'Delhi': 'India', 'Colombo': 'Sri Lanka', 'London': 'England'}

dict

In [17]:
dict_a.keys()

dict_keys(['Delhi', 'Colombo', 'London'])

In [20]:
for i in dict_a.keys():
    print(i)

Delhi
Colombo
London

In [19]:
dict_a.values()

dict_values(['India', 'Sri Lanka', 'England'])

In [35]:
dict_a.items()

dict_items([('Delhi', 'India'), ('Colombo', 'Sri Lanka'), ('London', 'England')])

In [11]:
dict_a['Moscow']='Russia'

#Add Elements in a  Dictionary.element means  a key value pair.inserting new item into dictionary
# for i in dict_a:
#     print(i[0])
#keys printed (imp)

In [38]:
len(dict_a)

4

In [13]:
dict_a['Moscow']='Ussr'

In [15]:
dict_a

{'Delhi': 'India',
 'Colombo': 'Sri Lanka',
 'London': 'England',
 'Moscow': 'Ussr'}

In [16]:
del dict_a['Moscow']

In [17]:
dict_a

{'Delhi': 'India', 'Colombo': 'Sri Lanka', 'London': 'England'}

In [40]:
#change elemnts in a dict
dict_a['Moscow']='Roos'
dict_a
#we have changed the value associated with the key Paris to "f".

{'Delhi': 'India',
 'Colombo': 'Sri Lanka',
 'London': 'England',
 'Moscow': 'Roos'}

In [43]:
#access value of a key
dict_a['Colombo']

'Sri Lanka'

In [ ]:
#Here, keys and values both are of string type. We can also have keys and values of different data types.

In [19]:
# dictionary with keys and values of different data types
numbers = {1: "One", 2: "Two", 3: "Three"}
print(numbers)

{1: 'One', 2: 'Two', 3: 'Three'}

In [18]:
dict_b={1:1.11,2:4.1}
dict_b

{1: 1.11, 2: 4.1}

In [32]:
del dict_b[2]
print(dict_b)

{1: 1.11}

In [15]:
dict_b

{1: 1.11}

In [1]:
#
l1=[1,2,4]
l1.append("b")
l1
#the whole is executed from the start

[1, 2, 4, 'b']

In [2]:
l2=[2,3,4]
l1.extend(l2)
print(l1)

[1, 2, 4, 'b', 2, 3, 4]

In [3]:
l1

[1, 2, 4, 'b', 2, 3, 4]

In [4]:
l1.append(l2)

In [5]:
len(l1)

8

In [ ]:
#When we append a list into a list,it will be stored as a single element in 1 st list.

In [16]:
europe = { 'Spain': { 'Capital':'Madrid', 'Population':4.77 }, 'France': { 'Capital':'Paris', 'Population':6.7 }}
print(europe)
europe['Spain']

{'Spain': {'Capital': 'Madrid', 'Population': 4.77}, 'France': {'Capital': 'Paris', 'Population': 6.7}}

{'Capital': 'Madrid', 'Population': 4.77}

In [17]:
europe.keys()

dict_keys(['Spain', 'France'])

In [7]:
europe['France']['Population']

NameError: name 'europe' is not defined

In [17]:
europe.keys()

dict_keys(['Spain', 'France'])

In [18]:
europe.values()

dict_values([{'Capital': 'Madrid', 'Population': 4.77}, {'Capital': 'Paris', 'Population': 6.7}])

In [15]:
europe['Spain']['Population']

4.77

In [ ]:
#  Spain      france
# capital pop  cap  pop
# madrid  4.77

In [2]:
europe = {'Spain': {'Madrid': {'Population': 4.77}}}
europe.keys()

dict_keys(['Spain'])

In [ ]:
-------

In [ ]:
#List comprehension is faster than normal functions and
#loops for creating list.

In [ ]:
syntax:
l1=[2)expression  1)for condition]
#for loop iterating through a string/tuple/list
#value gets appended into the list as an element of list.

In [ ]:
l1=[3)expression value  1)for condition 2)if condn1 if cond2]

In [ ]:
l1=[3)expression value  1)for condition 2)<gating condition>]

In [13]:
mylist = [ i for i in 'rocket' ]
mylist

['r', 'o', 'c', 'k', 'e', 't']

In [15]:
#py program to iterate through a  string to a list using lc.
mylist = [ i+" "  for i in 'rocket' ]
print(mylist)
##value(character here) gets appended into the list as an element of list.
#mylist is not defined in lc
type(mylist)
len(mylist[1])

['r ', 'o ', 'c ', 'k ', 'e ', 't ']

2

In [ ]:
#python program to display square of numbers in a range using lc.

In [16]:
mylist = [num**2   for num in range(10,14) if num%2!=1]
print(mylist)
#when the looping in the lc var is complete only then lc var is printed.

[100, 144]

In [17]:
l1=[]
for num in range(10,14+3): #i=10,11,12,13,14,15,16 
    if num%2!=0:
        if num>12:
            l1.append(num**2)
print(l1)

[169, 225]

In [5]:
#py program to iterate through a  string to a list using for loop.
l1=[]
mystr="rocket"
for i in mystr:
    l1.append(i)
print(l1)
#for loop-need to define empty list
#all variables used inside a for/while loop must be defined.

['r', 'o', 'c', 'k', 'e', 't']

In [37]:
mystr="rocket"
mytuple=tuple(map(lambda x:len(x+' '),mystr))
mytuple
#lambda is anonymous fun.labda is keyword right side we put a var x
#x takes r,value is r and r is mapped into the list 
# 2rd iter,x takes o,value of expression is o and o is mapped into the list as element

(2, 2, 2, 2, 2, 2)

In [ ]:
map(udf or lambda,iterable)

In [20]:
mylist1=[1,6,3,2]
l2=list(map(lambda x:(x-1)*2 ,mylist1[1:3]))
l2#map function takes udf and lambda functions

[10, 4]

In [22]:
mylist1=[1,6,3,2]
list(map(lambda x:(x-1)*2 ,mylist1))

[0, 10, 4, 2]

In [ ]:
mylist1[1:3]

In [ ]:
#We can use conditional stmts like if,if else in l.c
#Using if with List Comprehension

In [4]:
#numbers multiple by 3 
number_list = [ x for x in range(10) if x % 3 == 0 if x!=0]
print(number_list)
#

[3, 6, 9]

In [17]:
l1=[]
for cond:
    if condn:
        l1.append(x)

0

In [17]:
#
# number_list = [ x for x in range(10) if x % 3 == 0 and x%2==0]
# print(number_list)


# #if cond true so x is 0 and 0 is an element in list.
# #if cond fails,expression x not executed.
#if cond true, value of expression x is 2,2 is appened into the list.

In [27]:
# Nested IF with List Comprehension
# #print numbers divisible by 2 and 5 combined.

In [24]:
num_list = [y for y in range(51) if y!=0 if y % 2 == 0 if y % 5 == 0]
print(num_list)

[10, 20, 30, 40, 50]

In [25]:
num_list = [y+2 for y in range(51) if y % 2 == 0 and y % 5 == 0 if y!=0]
num_list
#i check both condns at once,when both condns are true,value of expression is appened

[12, 22, 32, 42, 52]

In [ ]:
for y in range(51) :
    if y % 2 == 0 and y % 5 == 0:
        if y!=0:
            y+2

In [8]:
num_list=[]
for y in range(51):
    if y!=0:
        if y % 2 == 0:
            if y % 8 == 0:
                num_list.append(y)
print(num_list)
#When for,if and if condns are true, expression value is appened into the list var.

[8, 16, 24, 32, 40, 48]

In [10]:
#: if...else With List Comprehension
#Python program to                   print the result of even or odd numbers in a range
l2 = ["even" if i%2==0 else "odd" for i in range(5)]
print(l2)
# If i is divisible by 2, then Even is appended to the obj list. If not, Odd is appended.
#

['even', 'odd', 'even', 'odd', 'even']

map() function returns a map object(which is an iterator) of the results after applying the given function to each item of a given iterable (list, tuple etc.)

Python map() Function Syntax
Syntax: map(fun, iter)

Parameters:

fun: It is a function to which map passes each element of given iterable.
iter: It is iterable which is to be mapped.

In [ ]:
map(function,iterable)

In [36]:
#map()
#map function has a function  which is applied on all elements of iterable one by one.
#(loop concept)
#the mathematical operation in the function definition takes place.
#the value of the mathematical expression is mapped into an object.

map() Return Value:
    
The map() function returns an object of map class.
The returned value can be passed to functions like

list() - to convert to list
set() - to convert to a set

In [12]:
import numpy as np

In [13]:
np.square(l1)

array([  4,  16,  36,  64, 100])

In [19]:
l1 = [2, 4, 6, 8, 10]

def cube(i):#definition of the function is here
    j=i
    return j**3
mylist=list(map(cube,l1))
mylist
#1 st iter time,i=2,math operation takes place,value 8 is mappedinto object.
#2 nd iter time,i=4,math oper takes place,value of expression 64 is mapped into object
#TypeError: cube() takes 0 positional arguments but 1 was given
#explaination:The function definition's parameter is not mentioned.putdef cube(i)

[8, 64, 216, 512, 1000]

In [23]:
mytuple = (4, 2, 3, 4)
def add(x):
#     print(x)
    return x-2
obj = map(add, mytuple)
print(obj)

# # converting map object to list
mylist = tuple(obj)
print(mylist)

#the functions definition is represented in def funname.the mathematical operation takes place and
#the value of mathematical operation is mapped into object.

<map object at 0x000001B26CCB9A60>
(2, 0, 1, 2)

In [ ]:
#Passing Multiple Iterators to map() Using Lambda

In [ ]:
#lambda in python.it has no name.it is called anonymous function.
#lambda x:x+x
# #def add(x,y):
#    mathe operation
#     return value
# #add(x,y)

In [ ]:
#lc,lamba,map

In [ ]:
#

In [36]:
num1 = [4, 5, 99]
num2 = [3, 6, 7]

mylist = map(lambda n1, n2: n1-n2, num1, num2)
print(list(mylist))
#
#n1 and n2 are iterators. an iterator takes all the elements in the list one by one as the loop runs
#n1 iteratrs through num1,n2 through num2
#1 st iter,n1=4,n2=5,expression value is 9 mapped into object.

[1, -1, 92]

In [ ]:
#We need the length of both the lists to be same.

#filter function in python
#The filter() function selects elements from an iterable (list, tuple etc.) based on the output of a function.

In [1]:


#map(udf or lambda fun,iterable)
#filter(udf or lambda fun,iterable)

#filter fun passes the fun on the iterable.The elements that satisfy a condn are filtered.
#map function passes the function on iterable.The expression value is mapped.

In [ ]:
#Python program to filter out even numbers in a tuple.

In [26]:
mytuple=(1,2,3,4,5)
def check_even(x):
    if x%2==0:
#         print(x)
        return True
    return False
        
#check_even
list(filter(check_even,mytuple))


#

[2, 4]

In [10]:
list(filter(lambda x:x%2==0,mytuple))
#filter fun filters the elements which satisfy a condition.
#x%2==0 is if condn in filter fun and mathe expression in map function.

[2, 4]

In [ ]:
#filter fun passed the chheck_fun fun on the iterable.def check_even(x):here x is the iterator
#which takes 1,2,3,4,5 one by one.if cond true,True is returned to fun call.
#Filter fun will filter return True 's element.
#Filter fun will not filter return  False's element.

In [11]:
# the lambda function returns True when the if condn is satisfied.

In [ ]:
#

In [31]:
#py program to print max numbeer in a list using udf.
#i set 77 as max value to compare it with other numbers one by one
mylist=[7,5,95,77,250]
def max_num(l1):    
    maxx=mylist[2]
    for i in range(0,len(mylist)):#i=0,1,2,3,4
        if mylist[i]>maxx:
            maxx=mylist[i]
    return maxx
max_num(mylist)
#exp       

 #return keyword belongs to fun definition.it must be present else error.
#once the for loop ia completed,return maxx is executed.

250

In [21]:
# Method 1

# def f(x):
#     return None if x == 0


def f1(x):
    if x == 0:
        return None


# Method 2
def f2(x):
    if x == 0: return None

# Method 3
def f3(x):
    return None if x == 0 else 7

print(f1(10))
print(f2(10))
print(f3(10))

None
None
7

In [7]:
#python program to filter vowels in the list.
l1=['d','b','a','n','o']
def find_vowels(i):
    v=['a','e','i','o','u']
    if i in v:
        return True
    else:
        return False

list(filter(find_vowels,l1))
#filter fun passes fun on the iterable.fun is defined.i is the iterator whioch takes all elements of list
#one by one.1 st iter,if d in v,failsctrl to else block,reurn false.
#filter fun filters return True's element in the list.
#1 st iter,i=d,2 nd iter, i=b continues.

['a', 'o']

In [9]:
def cubes_squares(start, end):  
    results = []
    for num in range(start, end+1):
        
        if num % 2 == 1:

            results.append(num ** 3)
        else:
           
            results.append(num ** 2)
    
    print(results)
    return True

cubes_squares(1, 5)

[1, 4, 27, 16, 125]

True

In [ ]:
1) Validate Email Address : 
     a. Check for '@' symbol, it should be only 1
     b. Only lower case letters are allowed
     c. Numbers are allowed
     e. No symbols allowed other than '.' & '_'

In [ ]:
#cha

In [29]:
var1=0
var2=0
var3=0
var4=0
var5=0
var6=0
var7=0
a=input("enter the email id")
for i in a:
    if i>='a' and i<='z':
        var1+=1
    elif i>='A' and i<='Z':
        var2+=1
    elif i=='@':
        var3+=1
    elif i>='0' and i<='9':
        var4+=1
    elif i=='.':
        
        var5+=1
    elif i=='_':
        var6+=1
    else:
        var7+=1
if var1>=0 and var2==0 and var3==1 and var4>=0 and var5==1 and var6==1 and var7==0:
    print("email is valid")
else:
    print("email is invalid")

enter the email idcj_07@gmail.com
email is valid

In [ ]:
#when var2+=1 there is no capila letter in the string
#when the character is a . or _,irrespective of the count ofthem individually,var5 is incremented by 1
#when var6==0,there are no special characters

In [ ]:
#Write a Python Program to calculate the in hand salary of an employee:

In [13]:
#basic pay
#hra
#da
#taxable amt
#ctc
#bonus
#deductions like epf

In [8]:
#30000
0.1*30000

3000.0

In [4]:
def calc_hra(basic_pay):
    #stmt 1
    if basic_pay<=300000:
        return 0.1*basic_pay
    elif basic_pay>300000 and basic_pay<=500000:
        return 0.2*basic_pay
    else:
        return 0.3*basic_pay
    #stmt last
def calc_da(basic_pay):
    if basic_pay<=300000:
        return 0.1*basic_pay
    elif basic_pay>300000 and basic_pay<=500000:
        return 0.2*basic_pay
    else:
        return 0.3*basic_pay
def calc_bonus(basic_pay):
    if basic_pay<=300000:
        return 0.05*basic_pay
    elif basic_pay>300000 and basic_pay<=500000:
        return 0.10*basic_pay
    else:
        return 0.12*basic_pay
def cal_health_insurance_percent(basic_pay):
    if basic_pay<=50000:
        return 5
    elif basic_pay<=100000:
        return 10
    else:
        return 15  
def cal_tax_amt(ctc):
    if ctc<=300000:
        return 0
    elif ctc>=300000 and ctc<=600000:
        return 0.05*ctc
    elif ctc>600000 and ctc<=900000:
        return 0.10*ctc
    elif ctc>900000 and ctc<=1200000:
        return 0.15*ctc
    elif ctc>1200000 and ctc<=1500000:
        return 0.2*ctc
    else:
        return 0.3*ctc

In [11]:
def calculate_in_hand_salary(basic_pay):
    #stmt1
    hra_amt=calc_hra(basic_pay)
    print(hra_amt)
    da_amt=calc_da(basic_pay)
    print(da_amt)
    bonus_amt=calc_bonus(basic_pay)
#     tax_percent=cal_tax_percent(basic_pay)
    health_insurance_percent=cal_health_insurance_percent(basic_pay)
#     tax_amt=(tax_percent/100)*basic_pay
    hi_amt=(health_insurance_percent/100)*basic_pay
    ctc=basic_pay+hra_amt+da_amt+bonus_amt
    tax_amt=cal_tax_amt(ctc)
    net_sal=ctc-(tax_amt+hi_amt)
    return net_sal
#last stmt

In [ ]:
#3 values are calculated using 3 small functions.

In [13]:
basic_pay=float(input("enter the basic pay"))
in_hand_salary=calculate_in_hand_salary(basic_pay)
print("in hand salary",in_hand_salary)

enter the basic pay400000
80000.0
80000.0
in hand salary 534000.0

In [24]:
#Write a python program to calculate the standard deviation value in an array.

In [3]:
import numpy as np

In [ ]:
 = (xix)2 /n)
xi is array numbers
x bar is mean value
n is total number of values in the array

In [33]:
def calc_stdev(arr1):
    sum1=0
    l2=[]
    m=arr1.mean()
    print(m)
    for i in arr1:
        l2.append((i-m)**2)
    for i in l2:
        sum1+=i
    n=len(arr1)
    stdev=np.sqrt(sum1/n)
    return stdev

In [22]:
import numpy as np

In [11]:
np.sqrt(2/3)

0.816496580927726

In [34]:
l1=[1,2,3]
arr1=np.array(l1)
print(arr1)
stdev=calc_stdev(arr1)
print("standard deviation is ",stdev)

[1 2 3]
2.0
standard deviation is  0.816496580927726

In [ ]:
#Alternate method

In [26]:
def calc_stdev1(arr1):
    s=0
    m=arr1.mean()
    for i in arr1:
        s=s+(i-m)**2
    n=len(arr1)
    stdev=np.sqrt(s/n)
    return stdev

In [27]:
l1=[1,2,3,4,5]
arr1=np.array(l1)
print(arr1)
stdev=calc_stdev1(arr1)
print("standard deviation is ",stdev)

[1 2 3 4 5]
standard deviation is  1.4142135623730951

In [32]:
[16,9,0,4,25]

[16, 9, 0, 4, 25]

In [33]:
np.sqrt(54/5)

3.286335345030997

In [7]:
def fun(**kwargs):
    for key,value in kwargs.items():
        print(str(key)+"="+str(value))
fun(a=10, b=20, c=30)

a=10
b=20
c=30

In [2]:
# #py program to filter float and int values in a list of various datatype elements.
l1=[1,True,1.67,"van","mk"]
def find_float_ele(i):
#     print(i)
    if type(i)==int or type(i)==float:       
        return True
    else:
        return False
list(filter(find_float_ele,l1))

[1, 1.67]

In [3]:
list(filter(lambda x:type(x)==float or type(x)==int,l1))

[1, 1.67]

In [ ]:
# if lambda x:type(x)==float or type(x)==int: then these elements  are filtered into 
# the list

In [ ]:
#working of atm machine using class and udf

In [34]:
class myclass:
    x=10
#i have defined a class name myclass using the keyword class.
#class classname:
#    variables used inside the class

In [35]:
m=myclass
#class call.i have stored class name myclass in an instance name m
#i have created an instance of the class name myclass.name of instance is m.

In [36]:
m.x*5

50

In [45]:
m.x

10

In [ ]:
#i define a class named student.
#i set self,i set x.i set y.init constructor takes 3 parameters.
#i define init constructor.it takes 3 parmeters.

In [10]:
class student:
    def __init__(self,x,y):
        self.x=x
        self.y=y
s1=student(26,36)
print(s1.x)
print(s1.y)

26
36

In [ ]:
#filter prime numbers in a list
#inp=[3,4,5,6]
#op=[3,5]

In [ ]:
#find the fault in the program.

In [1]:
mylist=[2,3,4,5,8]

l1=[]
l2=[]
c=0
for i in mylist:
    for j in range(1,i+1):        
        if i%j==0:
            c=c+1
    if c==2:
        l1.append(i)
        c=0
    else:
        continue
print(l1)
print

[2]

In [ ]:
#Creaate a list of numbers.append prime numbers in separate list and non prime numberrs in separate
#list var.

In [10]:
mylist=[2,3,4,5,8,12]

l1=[]
l2=[]
c=0
for i in mylist:
    for j in range(1,i+1):        
        if i%j==0:
            c=c+1
    if c==2:
        l1.append(i)
        c=0
    else:
        l2.append(i)
        c=0
print(l1)
print(l2)

[2, 3, 5]
[4, 8, 12]

In [8]:
for i in range(2,3):
    print(i)

2

In [ ]:
#python program to filter palindromes in a list.

In [1]:
mylist=['mom','markram','malayalam','1234']
op_list=[i for i in mylist if i==i[::-1]]
print(op_list)#using filer function 2 nd method

['mom', 'markram', 'malayalam']

In [ ]:
#c=0,j=1,2,i=2
#if 2%1==0,c=1
#if 2%2==0,c=2
#l1=[2]
#i=3,j=1,2,3#now c is 2
#c=3,c=4,else executed continues to next iteration of outer for loop.
#so 3 is not appended into the list l1

In [34]:
import numpy as np

In [35]:
arr1=np.array([1,2,3,4,5])

In [36]:
arr1/3

array([0.33333333, 0.66666667, 1.        , 1.33333333, 1.66666667])

In [78]:
for i in range(0,len(arr1)):#i=0,1,2,3,4
    if arr1[i]%2==0:
        arr1[i]=0
print(arr1)  

#arr1[i]=0 means in array named arr1 at index 1 we set 0
#arr1[i]=0 means in array named arr1 at index 3 we replace that 
#element with 0

[1 0 3 0 5]

In [65]:
# for i in arr1:#i=0,1,2,3,4
#     if i%2==0:
#         i=0
# print(arr1)  
#we cannot set  a number say 2 to 0
#

In [1]:
# email=input("enter the email")
# if email.count('@')==1:
#     if email.count('.')==1:
#         if email.count('_')==1:
            
#         print("valid")
# else:
#     print("invalid")
# modify the original email id validation code with these codes and reduce the length of the code
#display a working program

In [81]:
# Write a program:
# To print the list after removing the value 24 by using list comprehension from the given list below.

# INPUT:

In [82]:
mylist=[12,24,35,24,88,120,155]

In [83]:
op_list=[mylist[i] for i in range(0,len(mylist)) if mylist[i]!=24]
op_list

[12, 35, 88, 120, 155]

In [ ]:
op_list=[mylist[i] for i in range(0,len(mylist)) if mylist[i]!=24]
#here the gating condn returns True and False only

In [ ]:
##Check if the first and last number of a list is the same.

In [84]:
l1=[1,2,3,4,5,1]
l2=[2,3,4,5,6,7]
def udf(x):
    print("the given list is :",x)
    fist_element=x[0]
    last_element=x[-1]
    if fist_element==last_element:
        
        return True
    else:
        return False
    
op=udf(l1)
print("the result is :",op)
op=udf(l2)
print("the result is :",op)

the given list is : [1, 2, 3, 4, 5, 1]
the result is : True
the given list is : [2, 3, 4, 5, 6, 7]
the result is : False

In [ ]:
#prime numbers in sep list and non prime numbers in separate list.

In [ ]:
c=0
l1=[2,4,5,7,8]
l2=[]
l3=[]
for i in l1:
    for j in range(1,i+1):
        if i%j==0:
            c=c+1
    if c==2:
        print("prime num is",i)
        l2.append(i)
        c=0
    else:
        l3.append(i)
        c=0
print(l2)
print(l3)

In [ ]:
c=0
l1=[2,4,5,7,8]
l2=[]
l3=[]
for i in l1:
    for j in range(1,i+1):
        if i%j==0:
            c=c+1
    if c==2:
#         print("prime num is ",i)
        l2.append(i)
        c=0
    else:
#         print("non prime is ",i)
        l3.append(i)
        c=0
print(l2)
print(l3)

for condn:
    if condn:
       stmts
    }
}
if condn

# #When i terate through numbers int he list i put prime numbers in separate list and non prime
# numbers in separate list.So i need to put all the codes in main for loop.

In [ ]:
#Delhi cars question

In [8]:
mylist=['KA2234','TN3456','UP4563','KL703']
odd_day=['mon','wed','fri']
even_day=['tue','thu','sat']
sunday=['sun']
day=input("enter the day :")
even_plate=[]
odd_plate=[]
for i in mylist:
    if int(i[-1:])%2==0:
        even_plate.append(i)
    else:
        odd_plate.append(i)
if day in odd_day:
    print(odd_plate)
elif day in even_day:
    print(even_plate)
elif day in sunday:
    print(mylist)
else:
    print("invalid day")
#odd day@odd plate numbers displayed.

enter the day :mon
['UP4563', 'KL703']

In [ ]:
#when each condn has a stmt to be executed we use elif.do not use multiple ifs
#one after the other.

In [ ]:
#if True:
#print("stmt 1")
#else:
#print("stmt 2")

In [30]:
class ATM:
    def __init__(self,balance,pin):
        self.balance=balance
        self.pin=pin
    def change(self,pin):
        self.pin=pin
        print("congratulations pin has been changed")
    def withdraw(self,amt):
        if self.balance>=amt:
            print("hi")
            
        else:
            print("not enough balance")
            
    def deposit(self,amt):
        self.balance=self.balancce+amt
        print("remaining balance",self.balance)
a=ATM(1,2)
type(a)

__main__.ATM

In [4]:
class ATM:
    def __init__(self,balance,pin):
        self.balance=balance
        self.pin=pin
    def change(self,pin):
        self.pin=pin
        print("congratulations pin has been changed")
    def withdraw(self,amt):
        if self.balance>=amt:
            self.balance=self.balance-amt
            print("Remaining balance ",self.balance)
        else:
            print("not enough balance")
    def deposit(self,amt):
        self.balance=self.balance+amt
        print("remaining balance ",self.balance)
initial_balance=25000
initial_pin=1234
pin=1234
atm=ATM(initial_balance,initial_pin)
while True:
    print("1.change pin 2.withdraw 3.deposit 4.exit")
    ch=int(input())
    if ch==1:
        p=int(input("enter previous pin"))
        if p==pin:
            p=int(input("enter new pin"))
            atm.change(p)
        else:
            print("wrong pin entered")
    elif ch==2:
        p=int(input("enter the pin"))
        if p==pin:
            amt=int(input("enter the amount to be withdrawn"))
            atm.withdraw(amt)
        else:
            print("invalid pin")
            
    elif ch==3:
        p=int(input("enter the pin"))
        if p==pin:
            amt=int(input("enter amount to be deposited"))
            atm.deposit(atm)
        else:
            print("invalid pin")
    elif ch==4:
        print("exit")
        break

1.change pin 2.withdraw 3.deposit 4.exit
1
enter previous pin1234
enter new pin1111
congratulations pin has been changed
1.change pin 2.withdraw 3.deposit 4.exit
3
enter the pin1111
invalid pin
1.change pin 2.withdraw 3.deposit 4.exit
3000
1.change pin 2.withdraw 3.deposit 4.exit
3
enter the pin1234
enter amount to be deposited3000

TypeError: unsupported operand type(s) for +: 'int' and 'ATM'

# Write a python program to design rock paper scissors.Game is played between user and computer.
#A player who reaches 10 points first wins the game.

In [15]:
import numpy as np

In [16]:
choices=['rock','paper','scissors']
comp_choice=np.random.choice(choices)
print(comp_choice)

paper

choices=['rock','paper','scissors']
points={'user':0,'computer':0}
while True:
    user_choice=input("enter the user's choice")
    if user_choice in choices:
        comp_choice=np.random.choice(choices)
        if user_choice==comp_choice:
            print("It is a tie")
            print("score is ",points['user'],points['computer'])
        elif user_choice=='paper':
            if comp_choice=='rock':
                points['user']+=1
                print(points['user'])
                print("user wins")
            else:
                points['computer']+=1
                print(points['computer'])
                print("computer wins")
        elif user_choice=='rock':            
            if comp_choice=='scissors':
                points['user']+=1
                print(points['user'])
                print("user wins")
            else:
                points['computer']+=1
                print(points['computer'])
                print("computer wins")
        elif user_choice=='scissors':            
            if comp_choice=='paper':
                points['user']+=1
                print(points['user'])
                print("user wins")
            else:
                points['computer']+=1
                print(points['computer'])
                print("computer wins")
                
        if points['user']==3:            
            print("Users wins the game")
            break
        if points['computer']==3:            
            print("computer wins the game")
            break
    else:
        print("invalid user choice")

In [ ]:
# choices=['rock','paper','scissors']
# comp_choice=np.random.choice(choices)
# points={'user':0,'computer':0}
# while True:
#     user_coice=input("enter the user's choice")
#     comp_choice=np.random.choice(choices)
#     if user_coice==comp_choice:
#         print("It is a tie")
#     elif user_coice=='paper':
#         if comp_choice=='rock':
#             points['user']+=1
#             print(points['user'])
#             print("user wins")
#         else:
#             points['computer']+=1
#     elif user_coice=='rock':
#         if comp_choice=='scissors':
#             points['user']+=1
#             print("user wins")
#         else:
#             points['computer']+=1
#             print("computer wins")
#     elif user_coice=='scissors':
#         if comp_choice=='scissors':
#             points['user']+=1
#             print("user wins")
#         else:
#             points['computer']+=1
#             print("computer wins")
#     elif points['user']==3:
#         print("Users wins the game")
#         break
#     elif points['computer']==3:
#         print("computer wins the game")
#         break
        
#when i set elif in last 2 conditions the game does not finish.elif means for each condn a mathematical operation 
#needs to be executed.here we get user choice and computer choice.any one elif is executed and point is incremented
#for either of twi players.that is the reason the player points validation condiions are not executed.(2 player points
#validation onditions.

#when i set 1 if 3 elifs 2 ifs ,we get user choice and computer coice.based on these values, a point is incremneted to
#one of the players(based on 1 if and 3 elif) then both the if condns are checked.if cond fails next if condn fails then ctrl
#goes to while true block.the step repeats.

In [ ]:
# if user_choice in choices: when the user choice is not there in the choices list,it is invalid user choice.
#based on user choice user,comp points are calculated.player points validation is done and a player is declared winner.
#so all the above points are linked.when user choice is not there in the list write an else block .it prints invalid
#user choice.

In [ ]:
#based on user choice points are incremented in elif blocks and players are decplared winner
#usercoice@point incremented@players points validation

In [ ]:
task:print all the codes one by one

In [2]:
class India():
    def capital(self):
        print("New Delhi is the capital of India.")
 
    def language(self):
        print("Hindi is the most widely spoken language of India.")
 
    def type(self):
        print("India is a developing country.")
 
class USA():
    def capital(self):
        print("Washington, D.C. is the capital of USA.")
 
    def language(self):
        print("English is the primary language of USA.")
 
    def type(self):
        print("USA is a developed country.")
 
obj_ind = India()
obj_usa = USA()
for country in (obj_ind, obj_usa):
#     print(country)
    country.capital()
    country.language()
    country.type()

New Delhi is the capital of India.
Hindi is the most widely spoken language of India.
India is a developing country.
Washington, D.C. is the capital of USA.
English is the primary language of USA.
USA is a developed country.

In [2]:
class India():
    def capital(self):
        print("New Delhi is the capital of India")    
    def language(self):
        print("Hindi is ")        
    def type(self):
        print("india is developing ")
class usa():
    def capital(self):
        print("washington")
    def language(self):
        print("english")
    def type(self):
        print("developed")
class england():
    def capital(self):
        print("london")
    def language(self):
        print("englishh")
    def type(self):
        print("developed country")       
obj1=India()
obj2=usa()
obj3=england()
for country in (obj1,obj2,obj3):
    print(country)
    print(country.capital)
    print(country.language)
    print(country.type)

<__main__.India object at 0x00000277B4E0D970>
<bound method India.capital of <__main__.India object at 0x00000277B4E0D970>>
<bound method India.language of <__main__.India object at 0x00000277B4E0D970>>
<bound method India.type of <__main__.India object at 0x00000277B4E0D970>>
<__main__.usa object at 0x00000277B4E0D370>
<bound method usa.capital of <__main__.usa object at 0x00000277B4E0D370>>
<bound method usa.language of <__main__.usa object at 0x00000277B4E0D370>>
<bound method usa.type of <__main__.usa object at 0x00000277B4E0D370>>
<__main__.england object at 0x00000277B4E0D9D0>
<bound method england.capital of <__main__.england object at 0x00000277B4E0D9D0>>
<bound method england.language of <__main__.england object at 0x00000277B4E0D9D0>>
<bound method england.type of <__main__.england object at 0x00000277B4E0D9D0>>

In [3]:
class Bird:
    def intro(self):
        print("There are many types of birds.")
    def flight(self):
        print("Most of the birds can fly but some cannot.")
   
class sparrow(Bird):
    def flight(self):
        print("Sparrows can fly.")
     
class ostrich(Bird):    
    def flight(self):
        print("Ostriches cannot fly.")     
obj_bird = Bird()
obj_spr = sparrow()
obj_ost = ostrich()
obj_bird.intro()
obj_bird.flight()
obj_spr.intro()
obj_spr.flight()
obj_ost.intro()
obj_ost.flight()

There are many types of birds.
Most of the birds can fly but some cannot.
There are many types of birds.
Sparrows can fly.
There are many types of birds.
Ostriches cannot fly.

In [ ]:
(Rule):
When we define a member method inside a class,its first parameter must be set as self.
Self means i can use/access any number of variables inside the classs to outside the class.

In [1]:
class Bird:
    def intro(self):
        var1=9
        print("There are many types of birds.")
        #intro function tells that there are many types of birds.it gives introduction.
    def flight(self):
        print("Most of the birds can fly but some cannot.")
        #flight method tells about fly detaisl of birds.
obj1=Bird()

In [8]:
obj1.flight()

Most of the birds can fly but some cannot.

In [1]:
class Dog:
    def speak(self):
        return "Woof!"

class Cat:
    def speak(self):
        return "Meow!"

def make_animal_speak(animal):
    print(animal.speak())

dog = Dog()
cat = Cat()

make_animal_speak(dog)  # Output: Woof!
make_animal_speak(cat)  # Output: Meow!

Woof!
Meow!

a: 5
a: 5, b: 10

In [10]:
class Dog:
    def speak(self):
        return "Woof!"
class Cat:
    def speak(self):
        return "Meow!"
def m_out(animal):
    return (animal.speak())
dog=Dog()
cat=Cat()
print(m_out(dog))#output woof
print(m_out(cat))#output meow

Woof!
Meow!

In [7]:
dog.speak() #instant  method
#class level method
#constructors

'Woof!'

In [8]:
class Example:
    def display(self, a):
        print(f"a: {a}")
    def display(self, a, b):
        print(f"a: {a}, b: {b}")
example = Example()
example.display(5, 10)

a: 5, b: 10

In [7]:
class Example:
    def display(self, a=None, b=None):
        if a is not None and b is not None:
            print(f"a: {a}, b: {b}")
        elif a is not None:
            print(f"a: {a}")
        else:
            print("No arguments provided")

# Usage
example = Example()
example.display()          # Output: No arguments provided
example.display(5)         # Output: a: 5
example.display(5, 10)

No arguments provided
a: 5
a: 5, b: 10

In [1]:
class Animal:
    def speak(self):
        return "Animal sound"

class Dog(Animal):
    def speak(self):
        return "Woof!"

class Cat(Animal):
    def speak(self):
        return "Meow!"

# Usage
animal = Animal()
dog = Dog()
cat = Cat()

print(animal.speak())  
print(dog.speak())     
print(cat.speak())

Animal sound
Woof!
Meow!

In [ ]:
#class must not have self para
#member methods inside a class must have self para

In [3]:
class tomato:
    def type(self):
        return "vegetable"
    def colour(self):
        return "red"
class apple:
    def type(self):
        return "fruit"
    def colour(self):
        return "dark red"
obj1=tomato()
obj2=apple()
def m1(obj):
    return obj.type(),obj.colour()
#     return obj.colour()

print(m1(obj1))
print(m1(obj2))
#No we can use only one 1 return keywords i.e return statement in a udf.
#We cannot use2 return keywords in a udf.It is syntax error.

('vegetable', 'red')
('fruit', 'dark red')

In [5]:
class Animal:
    def speak(self):
        return "Animal sound"

class Dog(Animal):
    def speak(self):
        base_speak = super().speak()  # Call the superclass method
        return f"{base_speak} Woof!"
# Usage
dog = Dog()
print(dog.speak())  # Output: Animal sound Woof!

Animal sound Woof!

In [3]:
class employee1():
    def info(self):
        name="samy"
        age=20
        print("name",name)
        print("age",age)
        return 2
class employee2():
    def info(self):
        name="ani"
        age=20
        print("name",name)
        print("age",age)
obj1=employee1()
obj2=employee2()
print(obj1.info())
print(obj2.info())

name samy
age 20
2
name ani
age 20
None

In [ ]:
#working:
#ctrl from class name emploee1.method name info.name variable stores samy
#age variable stores 20,both print stmts executed.return 2 value goes in place of classs call i.e
#obj1.info().python compiler does line by line execution.
#ctrl goes from class call to class definition.print(obj2.info())
#class name employee2.method name info()
#name var stores ani and age var stores 20 and returns None.
#when we do not mention return none still udf will return None by default.
#None comes in place of class call i.e obj2.info()

In [10]:
class person:
    def __init__(self,name,age):
        self.name=name
        self.age=age
        print(name)
        print(age)
    def __gt__(self,other):
        print(other.name)
        print(other.age)
        if self.age>other.age:
            return True
        else:
            return False
p1=person("Ram",32)
p2=person("Shyam",22)
if p1>p2:
    print(p1>p2)
    print(p1.name ,"will pay the bill")
else:
    print(p2.name ,"will pay the bill")

Ram
32
Shyam
22
Shyam
22
Shyam
22
True
Ram will pay the bill

In [ ]:
class Bird:
    def intro(self):
        print("There are many types of birds.")
             
    def flight(self):
        print("Most of the birds can fly but some cannot.")
   
class sparrow(Bird):
    def flight(self):
        print("Sparrows can fly.")
   
class ostrich(Bird):
    def flight(self):
        print("Ostriches cannot fly.")

In [1]:
class Bird:
    def intro(self):
        print("stmt1")
    def m2(self):
        print("stmt2")
class sparrow(Bird):    
    def m3(self):
        print("smt3")
class ostrich(Bird):    
    def m4(self):
        print("stmts4")
obj1=Bird()
obj2=sparrow()
obj3=ostrich()

In [4]:
print(obj2.intro())
print(obj2.m2())

stmt1
None
stmt2
None
stmt2
None

In [5]:
print(obj2.m2()) 
print(obj2.intro())

stmt2
None
stmt1
None

In [ ]:
#class name sparrow does not have method name intro
#clas name ostrich does not have methodname intro
#class name bird is inherited into class name sparrow
#classs name bird is inherited into ostrich class
#It means that all the variables and functions of bird are inherited into sparrow and ostrich classs individually.
#method name m2 is not a method in sparrow.Class name Bird properties are there in class ostrich.
#SO i print m2 method ka stmts.

In [9]:
class A:
  x = 5
object = A()
print(object.x)

5

In [8]:
class A:
  x = 5
object = A()
print(object.x*7)

35

In [ ]:
#I create a class name A
#I assign variable name x to 5
#I create n instanc eof class A
#class name A.variable name 5

In [ ]:

# A Sample class with init method
class Person:    
    # init method or constructor
    def __init__(self, name):
        self.name = name 
    # Sample Method
    def say_hi(self):
        print('Hello, my name is', self.name)
p = Person('Nikhil')
p.say_hi()

In [ ]:
class Person:
    def __init__(self,name):
        self.name=name
    def say_hi(self):
        print("heloo my name is",self.name)
p=Person("Nikhil")

In [12]:
class Person:
    def __init__(self,name1):
        #print(name1)
        self.name=name1
        print(self.name)
    def say_hi(h):
        print("my name is",self.name)
p=Person("Nikil")    
p.say_hi()

Nikil

NameError: name 'self' is not defined

In [8]:
class Person:
    def __init__(self,name1):
        self.name=name1
    def say_hi(self):
        print("hello,my name is",self.name)
p=Person("ajay")
print(p.name)

ajay

In [ ]:
class Cat:
    def __init__(self,name1,age1):
        self.name=name1
        self.age=age1
    def info(self):
        print("the name of cat is",self.name,"age of cat",self.age)
    def make_sound(self):
        print("meow")

In [ ]:
#i create a class cat.I define3  methods.
#init method isused to set name and age of the cat.this values are passed by us in class call.

In [14]:
#i create a class named  Cat
class Cat:
    def __init__(self,name1,age1,age2):
        self.name=name1
        self.age=age1
        self.agee=age2
    def info(self):
        print("cat name is",self.name,"cat age is",self.age)
    def add(self):
        print("addition is",self.age+self.agee)
    def make_sound(self):
        print("meow")
cat1 = Cat("Kitty", 2.5,3)
print(cat1.info())
print(cat1.make_sound())
print(cat1.add())

cat name is Kitty cat age is 2.5
None
meow
None
addition is 5.5
None

In [1]:
class Cat:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def info(self):
        print(f"I am a cat. My name is {self.name}. I am {self.age} years old.")

    def make_sound(self):
        print("Meow")

class Dog:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def info(self):
        print(f"I am a dog. My name is {self.name}. I am {self.age} years old.")

    def make_sound(self):
        print("Bark")

cat1 = Cat("Kitty",2.5)
dog1 = Dog("Fluffy",4)

for animal in (cat1, dog1):
    animal.make_sound()
    animal.info()

Meow
I am a cat. My name is Kitty. I am 2.5 years old.
Bark
I am a dog. My name is Fluffy. I am 4 years old.

In [ ]:

# for animal in (cat1, dog1):
#     animal.make_sound()
#     animal.info()


#During 1 st iteration,animal is class name cat.class name cat.method make_sound() is activated.this is class call.
#ctrl goes from class call to class definition.then ctrl goes to   def make_sound(self):print("Meow")
#and mewo is printed then none is returned to the class calli.e class name cat.method make_sound().
#sometimes return NOneis returned sometimes not.it is becaus eof ide issue.we need to update the ide.it is not a big error.
#then ctrl goes to class call animal.info().ctrl to class definiton.cat.info()
#then ctrl goed to def info(self):
#        print(f"I am a cat. My name is {self.name}. I am {self.age} years old.")
#it sees  self.name ,self.age.then ctrl goes to the place where we set the value of both the variables name and age.
#print stmt is executed and return none to the class call    class name cat.info()

In [2]:
# Function to take multiple arguments 
def add(datatype, *args): 
   
    # if datatype is int 
    # initialize answer as 0 
    if datatype =='int': 
        answer = 0
           
    # if datatype is str 
    # initialize answer as '' 
    if datatype =='str': 
        answer ='' 
   
    # Traverse through the arguments 
    for x in args: 
   
        # This will do addition if the  
        # arguments are int. Or concatenation  
        # if the arguments are str 
        answer = answer + x 
   
    print(answer) 

   

add('int', 5, 6) 
   
# String 
add('str', 'Hi ', 'Geeks')

11
Hi Geeks