In [16]:
#varaibe: a container that stores data.
#str,int,float,string,char,bool,complex

5

In [ ]:
A compiler translates a code written in a high-level programming language into a lower-level language like assembly language, object code, and machine code (binary 1 and 0 bits). It converts the code ahead of time before the program runs. An interpreter translates the code line by line when the program is running.

In [1]:
 a=2
print(a)
type(a)

2

int

In [2]:
b=1.44
type(b)

float

In [3]:
c="a"
type(c)

str

In [3]:
d=4*2j
print(type(d))

<class 'complex'>

In [ ]:
#True,Flase -bool datatypes

In [4]:
e=False
type(e)

bool

In [ ]:
#character- 1 letter
#string-group of character

In [8]:
f=5+7j
f
# del f
#type(f)

(5+7j)

In [23]:
#Pythorn intro,datatypes of python,variablescharacters of python,applications of py,compiler and interpreer,keywords
#llike if,elif,print,else...
#Yield is also a return statement
#Reads the python code - compiler
#Checks the code line by line - interpreter

In [ ]:
a=5

In [17]:
a-b

-1

In [18]:
a*b

6

In [56]:
a/b

0.6666666666666666

In [48]:
#built infun have their funs defined in jn or python environment or software
add(1+4)
#udf means user will provide definition for that function.

NameError: name 'add' is not defined

In [ ]:
# Arithmetic operators.
# Assignment operators.
# Comparison operators.
# Logical operators.
# Identity operators.
# Membership operators.

In [1]:
# (+,-,/,*,%,**,//)

#1)arithmatic operators
#p,min,div,mult.modulo,expo,floor division
#arith operators means basic symbols for mathe operations.

In [9]:
a=22
b=5
a/b#division

4.4

In [10]:
a//b#floor division- returns the quotient value in integers only

4

In [7]:
a=3
b=3
#a-b
#a/b#displays quotient with decimal value#division symbol
a//b#displays quotient in integer only#floor division#quotient will be 2.33

1

In [66]:
a/b

12.333333333333334

In [5]:
a=19
b=4

In [11]:
a%b
#displays remainder ctrl+enter to make code cell as markdown

2

In [6]:
a*b

38

In [7]:
a,b

(19, 2)

In [6]:
b=2

In [12]:
a**b#exponential operators

5153632

In [13]:
a=5
a**3

125

In [13]:
#2)Assignment operators are used to assign values to variables:
#equal to will be there

In [10]:
a=5

In [17]:
#=,+=,-=,*=,/=,%=,//=,**=
a=15#assigning value of 5 to variable a
a

15

In [ ]:
#a+=5 means a=a+ number

In [18]:
a+=5#
a
#a=a+5
#a=a+5

20

In [20]:
#-=
a%=5#a=a%5
print(a)

0

In [25]:
a=5

In [26]:
a**=3

In [27]:
a

125

In [14]:
#a+=5#-= operator,+= is assignment operator

10

In [28]:
a=27

In [30]:
a*=4#a=a*4
print(a)

432

In [24]:
a=153

In [26]:
 153//7

21

In [28]:
a

153

In [29]:

a//=7
print(a)
#a=a//7

21

In [ ]:
#how to find ceil of a number without using in builf function???

In [ ]:
#a modulus equal 10

In [22]:
a=191

In [31]:
import numpy as np
np.ceil(7.999),np.ceil(7.00000001)

(8.0, 8.0)

In [32]:
np.floor(5.001),np.floor(8.777)

(5.0, 8.0)

In [35]:
#find factorial of numbers in the list.
#function definition
def fact(n):
    if n==0:
        return 1
    else:
        return n*fact(n-1)   

l1=[0,2,4]
lst=[]
for num in l1:
    var1=fact(num)#function call
    lst.append(var1)
print(lst)

[1, 2, 24]

In [ ]:
#3rd iteration for loop,num=4
#var1=fact(4)
#def fact(4): returns 4*fact(3)
#4*fact(3) this is a value
#var1=24

In [ ]:
#1st iteration,num=0
#var1=fact(0)
#n=0
#var1=1
#lst=[1]
#2nd iteration,num=2
#var1=fact(2)
#def fact(2):
#n=2,return 2*fact(1)
#return value is returned to the function call
#2*fact(1) is return value
#var1=2*fact(1) at 2nd iteration.
#ctrl goes from func call to function definition
#def fact(1):
#n=1  return 1*fact(0)
#1*fact(0) is the value returned
#var1=2*1*fact(0)
#var1=2*fact(0)
#def fact(0):
#var1=2
#lst=[0,2]

In [37]:
a=int(13.999)
a
a+=1
a

14

In [38]:
a=5.9997
int(a)

5

In [24]:
a=111

In [ ]:
#% module gives remainder
#// floor division gives quotient in integer

In [28]:

a%=7#a=a%7
print(a)
#1 s t time a is 191 and 2nd time when i execute the code,remainder will be stored in a

6

In [ ]:
#

In [88]:
#a=a%10#modulo operator

In [44]:
a=2

In [2]:
a=14
a**=2# a=a**2
print(a)

196

In [ ]:
#arithmentic,assignment operators,=,=+,-=,....

4

In [ ]:
#3)Comparison operators are used to compare two values

In [50]:
# < >, !=, == ,<=,>=(comparison operators)#less than <
#comp oper lessthan,greatthan,not eqal,eq eq ah

In [49]:
#less than means comparing 2 values
#not equal to ah??comparing 2 values.
#equal to ahh?checking a condn
#less than or equal to ah??means i am comparing 2 values.
#(nn)

In [ ]:
#df.col[df.col>=value]

hello

In [36]:
4.90161!=4.901019

True

In [37]:
5.0011>=5.00011

True

In [22]:
5.70>=5.7
#false because the conndition is not satisfied.
#in reality,5.7 is equal to 5.7.so condn fails.

True

In [36]:
a=9
b=9

In [30]:
a is not b

True

In [36]:
brick=9.8

In [37]:
brick<=9.3
#in reality,9.8 not less than 9.3
#or 9.8 not equal to 9.3 so fails.

False

In [38]:
print(2.99989<=3.000011)#
print(5.000001>=4.9999999)
print(5.1010!=5.1011)
print(5.000119<=5.001890)
#

True
True
True
True

In [ ]:
#

In [ ]:
#if and elsee:
#if keyword is used to check a condn
#else block:when if condn fails,ctrl moves to else block.

In [ ]:
#input(),print()-pre defined functions

In [63]:
# num=int(input("get number"))
# type(num)

In [33]:
c=int(input("enter the number"))
if c>=6:
    print("hello")
else:
    print("no")

enter the number100
hello

In [ ]:
#4)Logical operators are used to combine conditional statements.
#if you want to check two conditions at a  time then you will use lo.
#and , or, not

In [42]:
# and or not operators
a=9
b=10
c=11

print(a*7>b+9000 and a+6000>c and c+1000>a-120)
# if either of cond1 or c2 is true we g main condn op as true
#first cond true
#

False

In [44]:
print(a-10<b or b*5+12>=22 or 100+100>b-8)
#all condn are true

True

In [ ]:
#and :Returns True if both statements are true
#or :Returns True if one of the statements is true
#not :Reverse the result, returns False if the result is true

In [50]:
print(not(not(not(5.001!=5.0001 or 4.9!=4.9))))
#do ==,!=           t  or f
#not(not(not(t)))
#false
#if both cond1 and cond2 re true,we get main condn op as true else false
#

False

In [47]:
#print(not(3.11!=3-0.11 and (5.1!=5.1 or 7.011<=7-1.011)))

In [ ]:
T,t

In [25]:
100.1011-0.11

99.9911

In [52]:
not(not(not(100.0099!=100.099*0.1 and 100.101>=100.1011-0.11)))

False

In [39]:
100.1011-0.11

99.9911

In [7]:
print(not(5==5 and 5.9!=5.9))#c1 false,c2 true,main condn is true.
#not means invers of true.false is displayed.

True

In [52]:
#Identity operators

In [47]:
a=5*7j
type(a)
#print(a)
#variable stores some data int or float 4.55 or string
#
#datatypes of python -str,int,float,complex,char

35j

In [8]:
a=False
type(a)

bool

In [83]:
a=9,9
print(a)
type(a)

(9, 9)

tuple

In [51]:
my_list=['chennai','banglore','delhi','kolkata',5,9,9.7]
#my_list is a list variable which has all the cities
#a list is a collection of elements of various datatypes like int,char,string..

In [87]:
#5)identity operator

In [ ]:
#is operator:when both lists have same elements and same memory location,is operator returns true.
#is,is not

In [90]:
# a=4.1
# b=8
# c=a#value of a variable is stored in variable c
# print(c)

In [1]:
a=3

In [ ]:
#is operator checks 2 condns1)same elementns in the lsit 2)same memory location
#only then it returns true
#if either of the 2 condns fail,is operator returns a false
#applicable for is ,is not too.

In [46]:
x = ["apple", "banana"]#fruits,list of fruits var is x
y = ["apple", "banana"]#list of fruits is there in list var y
z = x
#z takes the value of list x

print(x is z)
print(x is not y)

print(x is y)


#x is not stored in y so mem loc different
#both have same elements but memory location is different


print(x == y)#just checks if both the lists elements are same.

#data analytics with python.

True
True
False
True

In [56]:
a=7
print(type(a))
mylist_a=[1,2,3]
type(mylist_a)

<class 'int'>

list

In [57]:
#ind(is)
x=59
#y=59
y=87

print(not(x is not y))
#both x and z variables have same valuesand same memory location

False

In [117]:
#print(not(y is not z))
print(y is not x)


#condition is 10 is not 5
#in reality,10 is not 5.so condn true.

True

In [ ]:
#Identity operators means is,is not.
#same objects with same memory location

In [ ]:
#

In [ ]:
#is,is not means these will check if both variables,list have same elements/value and same memory location.

In [ ]:
# membership   in, not in
##membership operators are used to ckeck if  an 
#element is there in a list

In [92]:
a=3
type(a)

int

In [15]:
fruits=["kiwii","orange","apple","banana"]
#len(fruits)
print("kiwii" in fruits)##

True

In [18]:
print("kiw" not in fruits[0])##

False

In [13]:
fruits1=("dfa","ji")
fruits1

('dfa', 'ji')

In [14]:
set1={1,2,3,4}
type(set1)

set

In [61]:
fruits

['kiwii', 'orange', 'kiwii123', 'banana']

In [63]:
print("kiwii" in fruits[2])

False

In [64]:
print("kiwi" not in fruits)

True

In [99]:
print("kiwi" not  in fruits)

False

In [2]:
my_tuple=(1,2,3)
type(my_tuple)

tuple

In [75]:
my_tuplee=(1,2,"cha","kekfw")
type(my_tuplee)

tuple

In [19]:
#list and tuples-container of data in python
#lists and tuples contain a group of elements whereas a variable has one value
l1=["rohit","virat",True,"True"]
print(type(l1))
mytuple=(1,2,3)
print(type(mytuple))
#lists are mutable,we can change the element of the list after list is created.
#tuples are immutable
# mytuple[0]="g"
#[1,"rohit",2,"virat"]

<class 'list'>
<class 'tuple'>

In [15]:
l1[1]='abc'

In [18]:
l1

['rohit', 'abc', True, 'True']

In [20]:
mytuple[1]=100

TypeError: 'tuple' object does not support item assignment

In [ ]:
#ceil(6.7)-7,floor(5.9)-5
#

In [57]:
a=("4.6","f")#4 is stored in a variable named a
#4 is a data.data stored in memory as dtype int.
type(a)
#elements in square bracket,mutable-list
#elements in(),immutable-tuple

tuple

In [ ]:
#The data stored in memory can be of many types
#3 is stored in memory as int,3.12 is stored as float,"char" as string,
#mylist=[1,2,"ch"] 
#the above data is stored in list variable.dtype of the data is list.
#strings-group of characters
#str,int,float,list,tuple,dict,complex.there are 6 d types in python.

In [108]:
a=5-8j
type(a)





#create a udf to find the ceil of a number
#get the number.unse int() to get the integer
#increment the number by 1
#create 2 sep udf.try any method.

complex

In [22]:
a=7-9j
a

(7-9j)

In [23]:
del a

In [24]:
a
#

NameError: name 'a' is not defined

In [28]:
#slicing-access a range of characters in a string based on indexes
a="rainbow"
a[3:][0:1]

#slices group of characters from char at index 0 to char at index 2

'n'

In [31]:
mylist=['rohit','dhoni','sachin','g',5.7,"k"]
mylist[-5:-3][-1][-4:-3]
#slicing happens from left to right
#slices group of elements from index 1 to 3

'c'

In [32]:
mylist[-5:-3]

['dhoni', 'sachin']

In [3]:
#indexing-access a character in a string based on indexes
a[-3]# 3 rd char from last char

'h'

In [35]:
a="rainbow"
a[0]

'r'

In [36]:
mylist=['rohit','dhoni','sachin','g',5.7,"k"]
mylist[-2]
# -2 means  2nd element from the last

5.7

In [33]:
a="rainbow"
print(a[::-1])

wobniar

In [34]:
a="rainbow"
print(a[::-3])

wnr

In [57]:
# mylist=['rohit','dhoni','sachin','g',5.7,"k"]
# mylist[::-3]

['k', 'sachin']

In [7]:
a[1:3]#access a group of characters in a string at index 1 to index 3-1

'ai'

In [ ]:
#step1:get the value from user and store in var

In [ ]:
#tuple,list,

The strings are same.

In [1]:
fruits = ["apple", "banana", "cherry"]
fruits

['apple', 'banana', 'cherry']

In [2]:
# fruits = ["apple", "banana", "cherry"]
# for x in fruits:
#   if x == "banana":
#     continue
#   print(x)

apple
cherry

In [53]:
#OOP in Python is a programming paradigm that emphasizes the use of objects and classes to organize and structure code.
# Classes,Objects,Attributes,Methods,Encapsulation,Inheritance,Polymorphism.
# #.mylist = ['mom', '333', 'rain']
# def is_palindrome(s):
#     return s == s[::-1]
# palindromes = [word for word in mylist if is_palindrome(word)]
# print("Palindromes in the list:", palindromes)
#3.Object-Oriented Programming (OOP) is a programming paradigm based on the concept of "objects," which can contain data in the form of fields (attributes or properties) and code in the form of procedures (methods). OOP allows for the creation of classes, which serve as blueprints for objects. The four main principles of OOP are encapsulation, inheritance, polymorphism, and abstraction.

# FOR EXAMPLE :
# class Animal:
#     def __init__(self, name, species):
#         self.name = name
#         self.species = species
#     def make_sound(self): 
#         raise NotImplementedError("Subclass must implement abstract method")
#     def __str__(self):
#         return f"{self.name} is a {self.species}"
# class Dog(Animal):
#     def __init__(self, name, breed):
#         super().__init__(name, 'Dog')  
#         self.breed = breed  
#     def make_sound(self):              
#         return "Woof!"

#     def __str__(self):
#         return f"{self.name} is a {self.breed} breed Dog"
# dog = Dog('Buddy', 'Golden Retriever')
# print(dog) 
# print(dog.mak